{#
/**
 * @file subentity.html.twig
 * Default theme implementation to present subentities data.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content.
 * - attributes: HTML attributes for the container element.
 *
 * @ingroup themeable
 */
#}
{% if content %}
<div{{ attributes }}>
  {{- content -}}
</div>
{% endif %}
