entity.{{ entity_name }}.collection:
  title: {{ label }}
  route_name: entity.{{ entity_name }}.collection
  base_route: system.admin_content

{% if bundle %}
{{ entity_name }}_type.edit_form:
  route_name: entity.{{ entity_name }}_type.edit_form
  base_route: entity.{{ entity_name }}_type.edit_form
  title: Edit
{% else %}
{{ entity_name }}.settings_tab:
  route_name: {{ entity_name }}.settings
  base_route: {{ entity_name }}.settings
  title: 'Settings'
{% endif %}
