entity.{{ entity_name }}.collection:
  title: '{{ label }} Listing'
  description: 'List {{ label }} entities'
  route_name: entity.{{ entity_name }}.collection

{{ entity_name }}.admin.structure.settings:
  title: {{ label }}
  description: Manage {{ label }}
{% if bundle %}
  route_name: entity.{{ entity_name }}_type.collection
{% else %}
  route_name: {{ entity_name }}.settings
{% endif %}
  parent: subentity.admin.structure.types
