entity.{{ entity_name }}.collection:
  path: '/admin/content/{{ entity_name }}'
  defaults:
    _entity_list: '{{ entity_name }}'
    _title: '{{ label }} List'
  requirements:
    _permission: 'administer site configuration'
