{{ machine_name }}.{{ entity_name }}_type.*:
  type: config_entity
  label: '{{ label }} type config'
  mapping:
    id:
      type: string
      label: 'ID'
    label:
      type: label
      label: 'Label'
    uuid:
      type: string
