<?php

namespace Drupal\{{ machine_name }}\Entity;

use Drupal\Core\Config\Entity\ConfigEntityBundleBase;

/**
 * Defines the {{ label }} subentity bundle.
 *
 * @ConfigEntityType(
 *   id = "{{ entity_name }}_type",
 *   label = @Translation("{{ label }} type"),
 *   handlers = {
 *     "list_builder" = "Drupal\subentity\BundleListBuilder",
 *     "form" = {
 *       "add" = "Drupal\subentity\Form\BundleForm",
 *       "edit" = "Drupal\subentity\Form\BundleForm",
 *       "delete" = "Drupal\Core\Entity\EntityDeleteForm"
 *     },
 *     "route_provider" = {
 *       "html" = "Drupal\subentity\BundleHtmlRouteProvider",
 *     },
 *   },
 *   config_prefix = "{{ entity_name }}_type",
 *   admin_permission = "administer site configuration",
 *   bundle_of = "{{ entity_name }}",
 *   entity_keys = {
 *     "id" = "id",
 *     "label" = "label",
 *     "uuid" = "uuid"
 *   },
 *   config_export = {
 *     "id",
 *     "label",
 *     "uuid",
 *   },
 *   links = {
 *     "canonical" = "/admin/structure/subentities/{{ entity_name }}_type/{{ '{'~entity_name~'_type}' }}",
 *     "add-form" = "/admin/structure/subentities/{{ entity_name }}_type/add",
 *     "edit-form" = "/admin/structure/subentities/{{ entity_name }}_type/{{ '{'~entity_name~'_type}' }}/edit",
 *     "delete-form" = "/admin/structure/subentities/{{ entity_name }}_type/{{ '{'~entity_name~'_type}' }}/delete",
 *     "collection" = "/admin/structure/subentities/{{ entity_name }}_type"
 *   }
 * )
 */
class {{ entity_class }}Type extends ConfigEntityBundleBase {

  /**
   * The machine name name of the {{ entity_name }} type.
   *
   * @var string
   */
  protected $id;

  /**
   * The human-readable name of the {{ entity_name }} type.
   *
   * @var string
   */
  protected $label;

}
